.container-fluid {
  width: 768px;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.custom-characters {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  width: 0;
}

.custom-character {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.custom-character-input {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  line-height: 0;
}

.custom-character-input input {
  margin: 0;
}
