@font-face {
  font-family: "Source Sans";
  font-display: swap;
  src: url("fonts/SourceSans3VF-Upright.ttf.woff2");
}

@font-face {
  font-family: "Source Sans";
  font-style: italic;
  font-display: swap;
  src: url("fonts/SourceSans3VF-Italic.ttf.woff2");
}

body {
  font-family: "Source Sans", sans-serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

.container-fluid {
  width: 768px;
}

.canvas-wrapper {
  display: flex;
  justify-content: center;
}

.custom-characters {
  display: flex;
}

.custom-character {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.custom-character-input {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  line-height: 0;
}

.custom-character-input input {
  margin: 0;
}
