body {
  background-color: #fff;
  color: #333;
  font: 1rem sans-serif;
}

.custom-characters {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  width: 0;
}

.custom-character {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.custom-character-code {
  border: 0;
  color: #aaa;
  text-align: center;
}

.custom-character-input {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.custom-character-input input {
  border: 0;
  margin: 1px;
  padding: 0;
}
